.container {
  width: 100%;
  min-height: 92vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 1px;
}

.container h3 {
  margin: 20px auto;
}

.movieInfoCard {
  position: relative;
}

.imageContainer {
  position: relative;
  width: 200px;
  height: 300px;
  margin: 5px 3px;
}

.iconContainer {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #141414;
  padding: 5px;
}

@media (min-width: 768px) {
  .container {
    padding-left: 12px;
    justify-content: flex-start;
  }

  .imageContainer {
    width: 180px;
    height: 290px;
  }
}

@media (min-width: 1440px) {
  .container {
    min-height: 95vh;
  }

  .movieInfoCard {
    margin: 10px;
    width: 260px;
    height: 370px;
  }
}
